/* -------------Google Fonts------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* -------------Reset------------- */
*{
  margin: 0;
  position: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* -------------Common------------- */
body{
  width: 100%;
  min-height: 100vh;
  background-color: #34495e;
}

/* ------Sections------ */
.section {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: 'Dancing Script';
  margin-bottom: 70px;
}

/* ------Buttons & Links------ */
a{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.main-btn {
  background-color: #201d1d;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 20px 30px;
  font-size: 1rem;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  background-color: #ffffff;
  color: #201d1d;
  border: 2px solid #201d1d;
}

/* ------Social Media------ */
.social-links {
  background-color: #201d1d;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.social-links .so-btn {
  width: 22px;
  height: 22px;
  margin: 0 8px;
  transition: all 0.3s ease-in-out;
}

.social-links .so-btn:hover {
  transform: rotate(360deg);
}

.social-links .so-btn > svg {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

/* ------Background Animation------ */
.anim-area{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.anim-area > li{
  position: absolute;
  z-index: 0;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background-color: rgb(32, 29, 29, 0.9);
  animation: bgAnim 20s linear infinite;
  bottom: -150px;
  border-radius: 50%;
}

.anim-area > li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  border-radius: 50%;
}

.anim-area>li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.anim-area>li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 2.5s;
}

.anim-area>li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}

.anim-area>li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 2.5s;
}

.anim-area>li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.anim-area>li:nth-child(7) {
  left: 25%;
  width: 70px;
  height: 70px;
  animation-delay: 4.5s;
  animation-duration: 10s;
}

.anim-area>li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  animation-delay: 4.5s;
}

.anim-area>li:nth-child(9) {
  left: 35%;
  width: 40px;
  height: 40px;
  animation-delay: 4.5s;
}

.anim-area>li:nth-child(10) {
  left: 78%;
  width: 30px;
  height: 30px;
  animation-delay: 3.5s;
  animation-duration: 15s;
}

.anim-area>li:nth-child(11) {
  left: 45%;
  width: 50px;
  height: 50px;
  animation-delay: 7.5s;
}

.anim-area>li:nth-child(12) {
  left: 92%;
  width: 25px;
  height: 25px;
  animation-delay: 4.5s;
  animation-duration: 10s;
}

.anim-area>li:nth-child(13) {
  left: 95%;
  width: 40px;
  height: 40px;
  animation-delay: 6.5s;
}

.anim-area>li:nth-child(14) {
  left: 80%;
  width: 55px;
  height: 55px;
  animation-delay: 6.5s;
  animation-duration: 15s;
}

@keyframes bgAnim{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-900px) rotate(360deg);
    opacity: 0;
  }
}

/* -------------Navigation Bar------------- */
.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  color: #ffffff;
  background-color: rgba(68, 62, 62, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* ------Logo------ */
.nav-bar .logo{
  max-width: 90px;
  height: 90px;
  background-color: #201d1d;
  border: 2px #ffffff solid;
  border-radius: 50%;
  padding: 5px;
  animation: rotate 5s infinite normal forwards ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg)
  }
}

.nav-bar .logo > img{
  width: 100%;
  height: 100%;
}

/* ------Navigation Menu------ */
.nav-bar .menu{
  flex-basis: 60%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar .menu li{
  margin-left: 70px;
}

.nav-bar .menu li .menu-link{
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 400;
}

.nav-bar .menu li .menu-link:hover,
.nav-bar .menu li .menu-link.active{
  color: #000000;
  font-weight: 600;
}

.nav-bar .menu-toggle-btn{
  display: none;
}

/* -------------Hero Section------------- */
.hero-section{
  background-color: #4d4c4c;
  flex-direction: row;
}

/* ------Hero Main Content------ */
.hero-section .hero-main-content{
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 100px;
  position: relative;
  z-index: 98;
}

.hero-section .hero-main-content .hero-img {
  max-width: 400px;
  height: 400px;
  border: 2px #201d1d solid;
  border-radius: 50%;
  overflow: hidden;
  animation: scale 1s infinite alternate forwards ease-in-out;
}

@keyframes scale{
  0%{
    transform: scale(1)
  }
  100% {
    transform: scale(1.05)
  }
}

.hero-section .hero-main-content .hero-img > img{
  width: 100%;
  height: 100%;
}

.hero-section .hero-main-content .hero-txt{
  text-align: center;
  color: #ffffff;
  font-size: 4rem;
  margin-top: 10px;
  font-family: 'Dancing Script';
}


/* ------Hero Sub Content------ */
.hero-section .hero-sub-content{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 98;
}

/* -------------About Section------------- */
.about-section {
  background-color: #5f5b5b;
  flex-direction: column;
}

/* ------About Images------ */
.about-section .about-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-section .about-content .about-imgs{
  flex-basis: 30%;
  min-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.about-section .about-content .about-imgs:hover{
  transform: rotateZ(5deg);
}

.about-section .about-content .about-imgs > .about-img{
  max-width: 300px;
  overflow: hidden;
}

.about-section .about-content .about-imgs .about-img > img {
  width: 100%;
  height: 100%;
}

/* ------About Texts------ */
.about-section .about-content .about-txt {
  text-align: justify;
  flex-basis: 40%;
  background-color: #ffffff;
  color: #201d1d;
  padding: 30px;
  margin: 0 20px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.about-section .about-content .about-txt:hover{
  transform: rotateZ(5deg);
}

/* -------------Road Map Section------------- */
.roadmap-section {
  background-color: #4d4c4c;
  flex-direction: column;
}

.roadmap-section .roadmap-content{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 850px;
}

.roadmap-section .roadmap-content::after{
  position: absolute;
  content: "";
  background-color: #ffffff;
  width: 4px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.roadmap-section .roadmap-content .event{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  position: relative;
  z-index: 90;
  margin: 30px 0;
  padding-right: 30px;
}

.roadmap-section .roadmap-content .event:nth-child(even) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0;
  padding-left: 30px;
}

/* ------Step Checkpoints------ */
.roadmap-section .roadmap-content .event::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #4d4c4c;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.roadmap-section .roadmap-content .event:nth-child(odd)::before {
  right: -12px;
}

.roadmap-section .roadmap-content .event:nth-child(even)::before{
  left: -12px;
}

.roadmap-section .roadmap-content .event:hover::before{
  background-color: #ffffff;
}

/* ------Step Content------ */
.roadmap-section .roadmap-content .event .step-content{
  width: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.roadmap-section .roadmap-content .event .step-content .step-name{
  font-size: 2.2rem;
  font-family: 'Dancing Script';
  margin-bottom: 10px;
  color: #201d1d;
  padding-bottom: 5px;
  border-bottom: 2px solid #2c3e50;
}

.roadmap-section .roadmap-content .event .step-content .step-details {
  font-size: 1rem;
  color: #201d1d;
}

/* -------------Faq Section------------- */
.faq-section {
  background-color: #5f5b5b;
  flex-direction: column;
}

.faq-section .faq-content{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-section .faq-content .qna-content{
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #2c3e50;
  cursor: pointer;
}

/* ------Question------ */
.faq-section .faq-content .qna-content .question{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq-section .faq-content .qna-content .question .question-txt{
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  color: #201d1d;
  margin-right: auto;
}

/* ------Icon------ */
.faq-section .faq-content .qna-content .question .dropdown-icon{
  min-width: 20px;
  min-height: 20px;
  transition: all 0.3s ease-in-out;
}

.faq-section .faq-content .qna-content .question .dropdown-icon.rotate {
  transform: rotate(180deg);
}

/* ------Answer------ */
.faq-section .faq-content .qna-content .answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq-section .faq-content .qna-content .answer .answer-txt {
  margin: 15px 0 0 15px;
  text-align: left;
  font-size: 1rem;
  color: #201d1d;
}

.faq-section .faq-content .qna-content .answer.show {
  max-height: 300px;
}

/* -------------Team Section------------- */
.team-section {
  background-color: #4d4c4c;
  flex-direction: column;
}

.team-section .team-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-section .team-content .team-member{
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 20px;
}

/* ------Image------ */
.team-section .team-content .team-member .member-img{
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.team-section .team-content .team-member .member-img:hover{
  transform: scale(0.8)
}

.team-section .team-content .team-member .member-img > img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* ------Details------ */
.team-section .team-content .team-member .member-details{
  text-align: center;
  color: #201d1d;
  margin-bottom: 10px;
}

.team-section .team-content .team-member .member-details .member-name{
  font-size: 1.1rem;
}

.team-section .team-content .team-member .member-details .member-position {
  font-size: 0.9rem;
}


/* -------------Footer Section------------- */
.footer-section{
  width: 100%;
  background-color: #5f5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
}

/* ------Discord Button------ */
.footer-section .discord .main-btn{
  display: block;
  margin-bottom: 10px;
}

/* ------Social Links------ */
.footer-section .social-links{
  margin-bottom: 10px;
  background: #5f5b5b;
}

.footer-section .social-links .so-btn{
  width: 25px;
  height: 25px;
}

.footer-section .social-links .so-btn > svg{
  color: #ffffff;
}

/* ------Credits------ */
.footer-section .credit{
  text-align: center;
  color: #ffffff;
}

.footer-section .credit .company{
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer-section .credit .thanks{
  font-size: 0.9rem;
}

/* -------------Media Queries------------- */
@media(max-width: 1270px){
  /* ------Common------ */
  .main-btn{
    font-size: 0.8rem;
    padding: 12px 20px;
  }

  .section-title{
    font-size: 2.2rem;
  }

  /* ------Navigation Bar------ */
  .nav-bar{
    flex-direction: column;
    padding: 0;
  }

  .nav-bar .logo{
    flex-basis: 100%;
    max-width: 50px;
    height: 50px;
    margin: 10px 0;
  }

  .nav-bar .menu {
    position: absolute;
    top: 77px;
    left: -100%;
    display: block;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(68, 62, 62, 0.9);
    padding: 0;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }

  .nav-bar .menu li {
    display: block;
    text-align: center;
    margin-left: 0;
  }

  .nav-bar .menu li .menu-link {
    display: block;
    padding: 0;
    padding: 20px 0;
    font-size: 0.9rem;
  }

  .nav-bar .menu li .menu-link:hover{
    color: #ffffff;
  }

  /* Toggle menu */
  .nav-bar .menu-toggle-btn{
    display: block;
    position: absolute;
    top: 24px;
    right: 30px;
    font-size: 1.5rem;
    max-height: 24px;
  }

  .nav-bar .menu.show-menu{
    left: 0;
  }

  /* ------Hero Section------ */
  .hero-section{
    flex-direction: column;
  }
  
  .hero-section .hero-main-content .hero-img {
    width: 200px;
    height: 200px;
  }

  .hero-section .hero-main-content .hero-txt{
    font-size: 2.5rem;
  }

  .hero-section .hero-sub-content{
    margin: 50px 0;
  }

  /* ------About Section------ */
  .about-section .about-content {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section .about-content .about-imgs {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 30px;
    min-width: 300px;
  }

  .about-section .about-content .about-imgs > .about-img {
    max-width: 200px;
  }

  .about-section .about-content .about-txt {
    max-width: 400px;
    margin: 0;
    font-size: 0.9rem;
  }

  /* ------Road Map Section------ */
  .roadmap-section .roadmap-content::after{
    left: 0;
  }

  .roadmap-section .roadmap-content .event{
    width: 100%;
    align-self: flex-end;
    justify-content: flex-start;
    padding: 0;
    padding-left: 30px;
  }

  .roadmap-section .roadmap-content .event::before{
    left: -12px;
  }

  .roadmap-section .roadmap-content .event .step-content .step-name {
    font-size: 1.8rem;
  }

  .roadmap-section .roadmap-content .event .step-content .step-details {
    font-size: 0.9rem;
  }

  /* ------Faq Section------ */
  .faq-section .faq-content .qna-content .question .question-txt{
    font-size: 1rem;
  }

  .faq-section .faq-content .qna-content .answer .answer-txt{
    font-size: 0.8rem;
  }

  /* ------Team Section------ */
  .team-section .team-content {
    flex-direction: column;
  }
  
  .team-section .team-content .team-member {
    margin: 0;
    margin: 10px 0;
  }

  /* ------Footer Section------ */
  .footer-section .credit .company {
    font-size: 0.8rem;
  }
  
  .footer-section .credit .thanks {
    font-size: 0.7rem;
  }
}